@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.poppins {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}



header,
.main-2nd,
.company {
    width: 85%;
    margin: 0px auto;
    border: 1px dashed red;
}



h1 {
    font-size: 3rem;
    font-weight: 700;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

p {
    font-size: 1rem;
    font-weight: 600;
}

nav,
.nav-item,
.nav-links,
#nav-container {
    display: flex;
    align-items: center;
}


.btn {
    background-color: #E02C6D;
    border-radius: 45px;
    padding: 10px 12px;
    border: none;
    color: white;

}


/* ----nav bar ------- */


nav {
    justify-content: space-between;
}

.nav-item,
.nav-links {
    gap: 20px;
}

.nav-link {
    list-style: none;
}

.nav-link a {
    text-decoration: none;
    color: black;

}

/* nav-container */

#nav-container {
    gap: 50px;
}

#nav-container div {
    flex: 1;
    border: 1px dashed green;
}

.nav-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/Circle design.svg");

}


#nav-container img {
    max-width: 70%;
    min-width: 300px;
}

/* -----company */


.company {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 30px 10px;
    align-items: center;
    box-shadow: 0px 0px 20px 0px gray;
    margin-top: 30px;
    margin-bottom: 30px;
}



/* ---main-------- */


.main-top {
    width: 80%;
    margin: 0px auto;
    border: 1px dashed red;
}

#cart-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 50px;
}



.cart img {
    width: 300px;
    height: 260px;
    margin: 17px;
    /* border: 2px solid blue; */
}

.cart {
    /* border: 1px solid green; */
    width: 350px;
    height: 480px;
    box-shadow: 0px 4px 20px 0px rgb(226, 221, 221);
    border-radius: 5px;
}

.cart-title {
    margin: 20px;
}

.main-cart-title {
    text-align: center;
}

.more {
    display: flex;
    justify-content: end;
}

.see {
    color: #E02C6D;
    text-align: left;
}


/* ---feature */


#features {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    margin-bottom: 80px;
    align-items: center;
    gap: 20px;

}

#features p {
    width: 410px;

}

.feature-btn {
    border-radius: 0px;
}



.footer-title {
    height: 200px;
    background-color: rgb(17, 17, 56);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.hide {
    display: none;
}



@media screen and (max-width:768px) {

    header,
    .main-2nd,
    .company {
        width: 95%;
    }

    nav {
        display: none;
    }

    .hide {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        padding: 10px;
    }


    #nav-container {
        flex-direction: column-reverse;
        gap: 10px;
    }


    .company {
        grid-template-columns: repeat(4, 1fr);
        padding: 20px 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .main-top {
        width: 90%;
    }

    #cart-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        margin-top: 20px;
        align-items: center;
        text-align: center;

    }

    .cart {
        margin: 0px auto;

    }

    #features {
        flex-direction: column-reverse;
        margin-top: 20px;
        margin-bottom: 50px;
    }

    h1 {
        font-weight: 700;
        font-size: 2rem;
    }

    .main-2nd #features .feature-img img {
        width: 400px;
        height: 250px;
    }

    #feature-title {
        width: 400px;
    }

    .more {
        justify-content: center;
    }

}


@media screen and (min-width:768px) and (max-width:1024px) {

    header,
    .main-2nd,
    .company {
        width: 90%;
    }

    nav {
        display: none;
    }

    #cart-container {
        grid-template-columns: repeat(2, 1fr);


    }

    .cart img {
        width: 260px;
        height: 230px;
        margin: 17px;
        /* border: 2px solid blue; */
    }

    .cart {
        width: 300px;
    }

    h1 {
        font-weight: 700;
        font-size: 2.5rem;
    }

    .hide {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        padding: 10px;
    }



}